<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a routerLink="/" class="app-brand-link">
            <span class="app-brand-logo demo"></span>
            <span class="app-brand-text demo menu-text fw-bold ms-2" style="color:#EE1C25;">ZOHS</span>
        </a>
        <span class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
            <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
        </span>
    </div>
    <ul class="menu-inner py-1">
        <!-- Home page -->
        <li class="menu-item">
            <a routerLink="/" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Home</div>
            </a>
        </li>
        <!-- Help page -->
        <li class="menu-item">
            <a routerLink="/help" class="menu-link menu-toggle">
                <i class="fa-brands fa-hire-a-helper"></i>
                <div>Help</div>
            </a>
        </li>
        <!-- About Page -->
        <li class="menu-item">
            <a routerLink="/about" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-info-circle"></i>
                <div>About</div>
            </a>
        </li>
        <!-- Person Information -->
        <li class="menu-item">
            <a routerLink="/person/add"class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-check"></i>
                <div>Add Person Information</div>
            </a>
        </li>  
        <li class="menu-item">
            <a routerLink="/person/show"class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-check"></i>
                <div>Show Person Information</div>
            </a>
        </li>   
           
        
        <!-- Vehicle -->
        <li class="menu-item">
            <a routerLink="/vehicule/add"class="menu-link menu-toggle">
                <i class="fa-solid fa-car"></i>
                <div>Add Vehicule</div>
            </a>
        </li>  
        <li class="menu-item">
            <a routerLink="/vehicule/show"class="menu-link menu-toggle">
                <i class="fa-solid fa-car"></i>
                <div>Show Vehicules</div>
            </a>
        </li>  
            
                
        <!-- Driver License -->
        <li class="menu-item">
            <a routerLink="/driver-license/add" class="menu-link menu-toggle">
                <i class="fa-solid fa-address-card"></i>
                <div>Add Driver License</div>
            </a>
        </li>   
        <li class="menu-item">
            <a routerLink="/driver-license/show" class="menu-link menu-toggle">
                <i class="fa-solid fa-address-card"></i>
                <div>AShow Driver License</div>
            </a>
        </li>  
            
               
        <!-- Assurance -->
        <li class="menu-item">
            <a routerLink="/assurance/add" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Assurance">Add Assurance</div>
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/assurance/show" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Assurance">Show Assurance</div>
            </a>
        </li>
        
        
          
    </ul>
  </aside>