<!-- Content -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper d-flex align-items-center justify-content-center flex-column">
      <h1 class="mb-2">You are not authorized!</h1>
      <p class="mb-4">You don't have permission to access this page. Go Home!!</p>
      <a routerLink="/" class="btn btn-danger">Back to home</a>
      <div class="mt-3">
        <img src="../../../assets/img/illustrations/not-authorized.jpg" alt="page-misc-error-light" width="700" class="img-fluid">
      </div>
    </div>
  </div>
<!-- /Content -->
  