
<app-main-template-auth >
  <div class="registration">

<!-- FormValidation -->
<div class="col-12">
  <div class="card">
    <h5 class="card-header">Client Registration</h5>
    <div class="card-body">
      @if(codeEmailVerification!=""){
        <form  [formGroup]="signupForm" id="formValidationExamples" class="row g-3" >

          <!-- Account Details -->
  
          <div class="col-12">
            <h6 class="fw-normal">1. Account Details</h6>
            <hr class="mt-0" />
          </div>
  
  
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsUsername">Username</label>
            <input type="text" name="multiStepsUsername" id="multiStepsUsername" class="form-control" placeholder="john doe" formControlName="username" />
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsEmail">Email</label>
            <input type="email" name="multiStepsEmail" id="multiStepsEmail" class="form-control" placeholder="john.doe@email.com" aria-label="john.doe" formControlName="email" />
          </div>
          <div class="col-sm-6 form-password-toggle">
            <label class="form-label" for="multiStepsPass">Password</label>
            <div class="input-group input-group-merge">
                <input type="password" id="multiStepsPass" name="multiStepsPass" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="multiStepsPass2" formControlName="password" minlength="8" (input)="checkPasswordValidity()" />
                <span class="input-group-text cursor-pointer" id="multiStepsPass2"><i class="fas fa-eye-slash"></i>
                </span>
            </div>
        </div>
        <div class="col-sm-6 form-password-toggle">
            <label class="form-label" for="multiStepsConfirmPass">Confirm Password</label>
            <div class="input-group input-group-merge">
                <input type="password" id="multiStepsConfirmPass" name="multiStepsConfirmPass" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="multiStepsConfirmPass2" />
                <span class="input-group-text cursor-pointer" id="multiStepsConfirmPass2"><i class="fas fa-eye-slash"></i>
                </span>
            </div>
        </div>
  
  
          <!-- Personal Info -->
  
          <div class="col-12">
            <h6 class="mt-2 fw-normal">2. Personal Info</h6>
            <hr class="mt-0" />
          </div>
  
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsFirstName">First Name</label>
            <input type="text" id="multiStepsFirstName" name="multiStepsFirstName" class="form-control" placeholder="John" formControlName="firstname"/>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsLastName">Last Name</label>
            <input type="text" id="multiStepsLastName" name="multiStepsLastName" class="form-control" placeholder="Doe" formControlName="lastname"/>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsMobile">Mobile</label>
            <div class="input-group input-group-merge">
              <span class="input-group-text">MR (+212)</span>
              <input type="text" id="multiStepsMobile" name="multiStepsMobile" class="form-control multi-steps-mobile" [maxlength]="9" [minLength]="9" placeholder="666666666" formControlName="tel"/>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsPincode">Nationalite</label>
            <input type="text" id="multiStepsPincode" name="multiStepsPincode" class="form-control" placeholder="Nationality" maxlength="15" formControlName="nationality"/>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsState">Gender</label>
            <select id="multiStepsState" class="select2 form-select" data-allow-clear="true" formControlName="gender">
              <option value="" disabled>Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <!-- <div class="col-sm-6">
            <label class="form-label" for="multiStepsPincode">City</label>
            <input type="text" id="multiStepsPincode" name="multiStepsPincode" class="form-control multi-steps-pincode" placeholder="Postal Code" maxlength="15" formControlName="city"/>
          </div> -->
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsState">City</label>
            <select id="multiStepsCity" class="select2 form-select" data-allow-clear="true" formControlName="city">
              <option value="" disabled>Select</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
            </select>
          </div>
  
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsArea">National ID</label>
            <input type="text" id="multiStepsArea" name="multiStepsArea" class="form-control" placeholder="Area/Landmark" formControlName="nationalId"/>
          </div>
  
          <div class="col-sm-6">
            <label class="form-label" for="multiStepsBirthDate">Birth Date</label>
            <input type="date" id="multiStepsBirthDate" class="form-control" placeholder="Jackson" formControlName="birthDate"  [min]="dateService.getDateNYearsAgo(70)" [max]="dateService.getDateNYearsAgo(18)"/>
          </div>
          <div class="col-md-12">
            <label class="form-label" for="multiStepsAddress">Address</label>
            <input type="text" id="multiStepsAddress" name="multiStepsAddress" class="form-control" placeholder="Address" formControlName="address"/>
          </div>
          
          
          <!-- Image Upload -->
            <div class="col-md-12">
                <label class="form-label" for="multiStepsImage">Front Nationale Card Image</label>
                <input type="file" id="multiStepsImage1" name="multiStepsImage" class="form-control" accept="image/png, image/jpeg, image/jpg" formControlName="frontCardNationaleImg" />
            </div>
            <!-- Image Upload -->
            <div class="col-md-12">
                <label class="form-label" for="multiStepsImage">Back Nationale Card Image</label>
                <input type="file" id="multiStepsImage2" name="multiStepsImage" class="form-control" accept="image/png, image/jpeg, image/jpg"  formControlName="backCardNationaleImg" />
            </div>
            <!-- Image Upload -->
            <div class="col-md-12">
              <label class="form-label" for="multiStepsImage">Your Image</label>
              <input type="file" id="multiStepsImage3" name="multiStepsImage" class="form-control" accept="image/png, image/jpeg, image/jpg" formControlName="clientImg"/>
          </div>
  
  
          <!-- Choose Your Plan -->
  
          <div class="col-12">
            <h6 class="mt-2 fw-normal">3. Choose Your Plan</h6>
            <hr class="mt-0" />
          </div>
          <div [formGroup]="codeForm" class="row g-3">
            <div id="twoStepsForm" >
                <div class="mb-3">
                  <div class="auth-input-wrapper d-flex align-items-center justify-content-sm-between numeral-mask-wrapper">
                    <input formControlName="digit1" id="digit1" (input)="onDigitInput(1)" type="text" class="form-control auth-input h-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1" autofocus>
                    <input formControlName="digit2" id="digit2" (input)="onDigitInput(2)" type="text" class="form-control auth-input h-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                    <input formControlName="digit3" id="digit3" (input)="onDigitInput(3)"type="text" class="form-control auth-input h-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                    <input formControlName="digit4" id="digit4" (input)="onDigitInput(4)" type="text" class="form-control auth-input h-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                    <input formControlName="digit5" id="digit5" (input)="onDigitInput(5)" type="text" class="form-control auth-input h-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                    <input formControlName="digit6" id="digit6" (input)="onDigitInput(6)" type="text" class="form-control auth-input h-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                  </div>
                </div>
            </div>
            </div>
            <div class="col-12">
              <label class="switch switch-primary">
                <input type="checkbox" class="switch-input" name="formValidationSwitch" [(ngModel)]="sendRelatedEmails" (change)="onCheckboxEmailChange()" />
                <span class="switch-toggle-slider">
                  <span class="switch-on"></span>
                  <span class="switch-off"></span>
                </span>
                <span class="switch-label">Send me related emails</span>
              </label>
            </div>
            
          <div class="col-12">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="formValidationCheckbox" name="formValidationCheckbox" />
              <label class="form-check-label" for="formValidationCheckbox">Agree to our terms and conditions</label>
            </div>
          </div>
          <div class="col-12">
            <button (click)="onSubmit($event)" name="submitButton" class="btn btn-danger">Submit</button>
          </div>
          <div class="divider my-4">
            <div class="divider-text">or</div>
          </div>
          <div class="text-center">
            <a routerLink="/auth/login" class="d-flex align-items-center justify-content-center">
              <i class="bx bx-log-in scaleX-n1-rtl"></i>
              &nbsp;&nbsp;Back to login
            </a>
          </div>
          <div class="text-center">
            <a routerLink="/" class="d-flex align-items-center justify-content-center">
              <i class="bx bx-home scaleX-n1-rtl"></i>
              &nbsp;&nbsp;Back to home
            </a>
          </div>
        </form>
     
      }@else {

      }
       </div>
  </div>
</div>
<!-- /FormValidation -->

</div>

</app-main-template-auth>


  






