<app-main-template-vehicule>

<div class="authentication-wrapper authentication-cover">
  <div class="authentication-inner row m-0">
    <!-- Left Text -->
    <div class="d-none d-lg-flex col-lg-4 align-items-center justify-content-end p-5 pe-0">
      <div class="w-px-400">
        <img src="../../../../assets/img/illustrations/add-vehicule.jpg" class="img-fluid scaleX-n1-rtl" alt="multi-steps" height="700">
      </div>
    </div>
    <!-- /Left Text -->

    <!-- Single Step Registration -->
    <div class="d-flex col-lg-8 authentication-bg p-sm-5 p-3 justify-content-center">
      <div class="d-flex flex-column w-px-700">
        <app-alert-vehicule
          *ngIf="showAlert"
          [type]="typeAlert"
          [message]="alertMessage"
          (closed)="onCloseAlert()"
        />
        <div class="my-auto">
          <div class="content pt-4">
            <form [formGroup]="vehiculeForm" id="singleStepForm" ngNoForm>
              <!-- Account Details -->
              <div>
                <div class="content-header mb-3">
                  <h4>Vehicle Information</h4>
                  <span>Enter Your Vehicle Information</span>
                </div>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label" for="typeVehicule">Vehicle Type</label>
                    <select id="typeVehicule" class="form-select" formControlName="typeVehicule">
                      <option value="">Select Vehicle Type</option>
                      <option value="Car">Car</option>
                      <option value="Motor">Motor</option>
                      <option value="Camion">Camion</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="marque">Marque</label>
                    <input type="text" id="marque" name="marque" class="form-control" placeholder="Enter Marque" formControlName="marque" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="numberOfPorts">Number Of Ports</label>
                    <input type="number" id="numberOfPorts" name="numberOfPorts" class="form-control" placeholder="Enter Number Of Ports" formControlName="numberOfPorts" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="vehiculeIdentificationNumber">Identification Number</label>
                    <input type="text" id="vehiculeIdentificationNumber" name="vehiculeIdentificationNumber" class="form-control" placeholder="Enter Identification Number" formControlName="vehiculeIdentificationNumber" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="fuelType">Fuel Type</label>
                    <select id="fuelType" class="form-select" formControlName="fuelType">
                      <option value="">Select Fuel Type</option>
                      <option value="Motor">Motor</option>
                      <option value="Camion">Camion</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="taxIdentificationNumber">Tax Identification Number</label>
                    <input type="text" id="taxIdentificationNumber" name="taxIdentificationNumber" class="form-control" placeholder="Enter Tax Identification Number" formControlName="taxIdentificationNumber" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="taxHorsepower">Tax Horsepower</label>
                    <input type="number" id="taxHorsepower" name="taxHorsepower" class="form-control" placeholder="Enter Tax Horsepower" formControlName="taxHorsepower" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="licensePlateNumber">License Plate Number</label>
                    <input type="number" id="licensePlateNumber" name="licensePlateNumber" class="form-control" placeholder="Enter License Plate Number" formControlName="licensePlateNumber" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="emptyWeight">Empty Weight</label>
                    <input type="number" id="emptyWeight" name="emptyWeight" class="form-control" placeholder="Enter Empty Weight" formControlName="emptyWeight" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="grossVehiculeWeightRating">Gross Vehicle Weight Rating</label>
                    <input type="number" id="grossVehiculeWeightRating" name="grossVehiculeWeightRating" class="form-control" placeholder="Enter Gross Vehicle Weight Rating" formControlName="grossVehiculeWeightRating" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="currentCarValue">Current Car Value</label>
                    <input type="number" id="currentCarValue" name="currentCarValue" class="form-control" placeholder="Enter Current Car Value" formControlName="currentCarValue" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="manufacturingDate">Manufacturing Date</label>
                    <input type="date" id="manufacturingDate" name="manufacturingDate" class="form-control" placeholder="Select Manufacturing Date" formControlName="manufacturingDate" [min]="dateService.getDateNYearsAgo(23)" [max]="dateService.getCurrentDate()" />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="cylinderCount">Cylinder Number</label>
                    <input type="number" id="cylinderCount" name="cylinderCount" class="form-control" placeholder="Enter Cylinder Number" formControlName="cylinderCount" />
                  </div>

                  <!-- Image Upload -->
                  <div class="col-md-12">
                    <label class="form-label" for="frontVehiculeImg">Front Vehicle Image</label>
                    <input type="file" id="frontVehiculeImg" name="frontVehiculeImg" class="form-control" accept="image/png, image/jpeg, image/jpg" formControlName="frontVehiculeImg" />
                  </div>
                  <!-- Image Upload -->
                  <div class="col-md-12">
                    <label class="form-label" for="backVehiculeImg">Back Vehicle Image</label>
                    <input type="file" id="backVehiculeImg" name="backVehiculeImg" class="form-control" accept="image/png, image/jpeg, image/jpg" formControlName="backVehiculeImg" />
                  </div>

                  <!-- Image Upload -->
                  <div class="col-md-12">
                    <label class="form-label" for="frontCardVehiculeImg">Front Vehicle Card Image</label>
                    <input type="file" id="frontCardVehiculeImg" name="frontCardVehiculeImg" class="form-control" accept="image/png, image/jpeg, image/jpg" formControlName="frontCardVehiculeImg" />
                  </div>
                  <!-- Image Upload -->
                  <div class="col-md-12">
                    <label class="form-label" for="backCardVehiculeImg">Back Vehicle Card Image</label>
                    <input type="file" id="backCardVehiculeImg" name="backCardVehiculeImg" class="form-control" accept="image/png, image/jpeg, image/jpg" formControlName="backCardVehiculeImg" />
                  </div>

                  <div class="col-12 d-flex justify-content-between mt-4">
                    <button class="btn btn-danger" style="background-color: #EE1C25;" (click)="onSubmit()">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- / Single Step Registration -->
    </div>
  </div>
  
</div>


</app-main-template-vehicule>
