<app-main-template-vehicule>

    <!-- Search Input with Label and Icon -->
    <div class="mb-3 col-sm-3">
        <label for="searchInput" class="form-label d-flex align-items-center">
            <i class="bx bx-search me-2"></i> <!-- Icon (you can replace bx-search with your desired icon class) -->
            Search
        </label>
        <input type="text" id="searchInput" class="form-control" placeholder="search...">
    </div>
    <!-- Bootstrap Table with Header - Light -->
    <div class="card card-table" >
        <h5 class="card-header">Vehicules</h5>
        <div class="table-responsive text-nowrap">
            <table class="table"  style="border-bottom: 10px;">
                <thead class="table-danger">
                <tr>
                    <th>Marque</th>
                    <th>Genre</th>
                    <th>Type</th>
                    <th>Number Of Ports </th>
                    <th>Fuel Type</th>
                    <th>Identification Number</th>
                    <th>Cylinder Count</th>
                    <th>Tax Identification Number</th>
                    <th>License Plate Number</th>
                    <th>Empty Weight</th>
                    <th>Gross Weight Rating</th>
                    <th>Current Value</th>
                    <th>Manufacturing Date</th>
                    <th>Tax Horse Power</th>
                    <th>Status</th>
                    <th>Actions</th>
    
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if(data){
                        @for(d of data;track d.id){
                            <tr>
                                <td>{{d.marque}}</td>
                                <td>{{d.genre}}</td>
                                <td>{{d.typeVehicule}}</td>
                                <td>{{d.numberOfPorts}}</td>
                                <td>{{d.fuelType}}</td>
                                <td>{{d.vehiculeIdentificationNumber}}</td>
                                <td>{{d.cylinderCount}}</td>
                                <td>{{d.taxIdentificationNumber}}</td>
                                <td>{{d.licensePlateNumber}}</td>
                                <td>{{d.emptyWeight}}</td>
                                <td>{{d.grossVehiculeWeightRating}}</td>
                                <td>{{d.currentCarValue}} Dhs</td>
                                <td>{{d.manufacturingDate}}</td>
                                <td>{{d.taxHorsepower}}</td>
                
                                <!-- if-else for color status-->
                                @if(d.status=="Pending"){
                                    <td><span class="badge bg-label-warning me-1">Status</span></td>
                                }@else if(d.status=="Active"){
                                    <td><span class="badge bg-label-success me-1">Status</span></td>
                                }@else if(d.status=="Rejected"){
                                    <td><span class="badge bg-label-danger me-1">Status</span></td>
                                }
                                
                                <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        }
                    }

                            
            </tbody>
    
            </table>
            </div>
        </div>
    
    
     </app-main-template-vehicule>
     