<!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Content -->

<div class="container-xxl">
<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner py-4">
    <!-- Forgot Password -->
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a routerLink="/" class="app-brand-link gap-2">
            <span class="app-brand-text demo h3 mb-0 fw-bold">ZOHS</span>
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Forgot Password? 🔒</h4>
        <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
        <form id="formAuthentication" class="mb-3" action="https://demos.pixinvent.com/frest-html-admin-template/html/vertical-menu-template-bordered/auth-reset-password-basic.html" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus>
          </div>
          <button class="btn btn-danger d-grid w-100">Send Reset Link</button>
        </form>
        <div class="divider my-4">
          <div class="divider-text">or</div>
        </div>
        <div class="text-center">
          <a routerLink="/login" class="d-flex align-items-center justify-content-center">
            <i class="bx bx-log-in scaleX-n1-rtl"></i>
            &nbsp;&nbsp;Back to login
          </a>
        </div>
        <div class="text-center">
          <a routerLink="/" class="d-flex align-items-center justify-content-center">
            <i class="bx bx-home scaleX-n1-rtl"></i>
            &nbsp;&nbsp;Back to home
          </a>
        </div>
      </div>
    </div>
    <!-- /Forgot Password -->
  </div>
</div>
</div>


