<div class="banner">
    <div class="slider">
        <img src="../../../assets/images/banner1.png" id="slideImg">
    </div>
    <div class="overlay">
        <nav>
            <div class="logo">
                <a href="home.html"><img src="../../../assets/images/image1.jpeg"></a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="">Serche</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Espace Client</a></li>
                    
                   
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1>Hire the best <br> ZOHS Vehicle Insurance, <br> online.</h1>
            <p>ZOHS Assurance <br> Your key to secure and worry-free journeys<br>
                Explore our range of coverage options tailored to your needs <br> Welcome to our ZOHS insurance.</p>
            
        </div>
    </div>
</div>



<section class="content">
<h1 class="text-center font-weight-bold">Need something done ?</h1>
<div class="row">
    <div class="column">
        <h3>Post an insurance request</h3>
        <p>It’s free and easy to post an insurance request. Simply provide details about your needs, and we'll
            get you competitive quotes from our trusted network of insurers.</p>
    </div>
    <div class="column">
        <h3>Choose coverage</h3>
        <p>Whether it's comprehensive or specific coverage, we have insurance plans for all types of vehicles and
            budgets. No insurance need is too complex. We can find the right coverage for you!</p>
    </div>
    <div class="column">
        <h3>Pay securely</h3>
        <p>Only pay for your insurance coverage once you're satisfied. Our secure payment system ensures
            transparency and peace of mind.</p>
    </div>
    <div class="column">
        <h3>We’re here to assist</h3>
        <p>Our dedicated team of experts can help you navigate through insurance options </p>
    </div>
</div>
</section>


<section class="content">
    <h1 class="text-center font-weight-bold">To contact us.</h1>
    <div class="row">
        <div class="column">
            <h3>AEmail</h3>
            <p>zohs.assurance</p>
        </div>
        <div class="column">
            <h3>Telephone</h3>
            <p>0523456789</p>
        </div>
        <div class="column">
            <h3>Whatsapp</h3>
            <p>+212 634567890</p>
        </div>
        <div class="column">
            <h3><Address>Address</Address></h3>
            <p>Boukhalf Tanger Maroc</p>
        </div>
    </div>
</section>





<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Categories</h4>
                <ul>
                    <li><a href="">Graphics & Design</a></li>
                    <li><a href="">Digital Marketing</a></li>
                    <li><a href="">Writing & Translation</a></li>
                    <li><a href="">Video & Animation</a></li>
                    <li><a href="">Music & Audio</a></li>
                    <li><a href="">Programming & Tech</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">Photography</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>About</h4>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Press & News</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Support</h4>
                <ul>
                    <li><a href="">Help & Support</a></li>
                    <li><a href="">Trust & Safety</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <p>All Rights Reserved &copy; Hajar Sadik & Ouail Laamiri  & Samir Ziani & Ziad Bensaada</p>
    </div>
</footer>

